<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Fuente Google -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles/index.css">
</head>

<body>
    <header id="inicio">
        <nav>
            <a href="/" class="icon"><img src="/static/assets/logo.png" alt="Logo"></a> <!-- Tamaño original -->
            <div class="icon-buttons">
                <a href="/upload">Crear</a>
                <a href="/login">Login</a>
                <a href="/register">Registrar</a>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-user-friends" id="toggle-friends-list" onclick="toggleFriendsList()"></i>
                <img src="/static/assets/default-user.png" alt="Usuario" onclick="window.location.href='perfil.html'">
            </div>

            <div class="friends-list" id="friends-list">
                <ul>
                    <li>Amigo 1</li>
                    <li>Amigo 2</li>
                    <li>Amigo 3</li>
                    <li>Amigo 4</li>
                </ul>
            </div>
        </nav>
        <h1>Mi Blog</h1>
    </header>

    <section id= "escribir">
        <button onclick="window.location.href = '/upload'" id="subir">+</button>
    </section>

    <footer>
        <nav>
            <a href="#" onclick="alert('Contactame esta')">¡Contáctenos!</a>
            <a href="/#inicio">Volver al inicio</a>
        </nav>
        <p>Copyright © 2027</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='/scripts/login.js')}}"></script>
    <script src="{{ url_for('static', filename='/scripts/main.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        function toggleFriendsList() {
            const friendsList = document.getElementById("friends-list");
            if (friendsList.style.display === "none" || friendsList.style.display === "") {
                friendsList.style.display = "block"; 
            } else {
                friendsList.style.display = "none"; 
            }
        }

        window.onclick = function(event) {
            const friendsList = document.getElementById("friends-list");
            if (!event.target.matches('#toggle-friends-list') && !friendsList.contains(event.target)) {
                friendsList.style.display = "none"; 
            }
        }
    </script>
</body>

</html>
