<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    
    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Fuente Google -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css')}}">
</head>

<body>
    <header id="inicio">
        <nav>
            <!-- Logo de inicio -->
            <a href="#inicio"><img src="logo.png" alt="Logo" width="50"></a>
            <a href="crear.html">Crear</a>
            <a href="login.html">Login</a>
            <a href="registrar.html">Registrar</a>

            <!-- Iconos alineados a la derecha -->
            <div class="icon-buttons">
                <!-- Botón Mensajes -->
                <i class="fas fa-envelope"></i>
                <!-- Botón Amigos -->
                <i class="fas fa-user-friends"></i>
                <!-- Botón Perfil con imagen de usuario por defecto -->
                <img src="../images/default-user.webp" alt="Usuario" onclick="window.location.href='perfil.html'">
            </div>
        </nav>
        <h1>PROYECTO DE RE MIERDA RIVAINERA PUTO</h1>
    </header>
    <section id= "escribir">
        <button onclick="window.location.href = '/upload'" id="subir">+</button>
    </section>

    <footer>
        <nav>
            <a href="#" onclick="alert('Contactame esta')">¡Contáctenos!</a>
            <a href="/#inicio">Volver al inicio</a>
        </nav>
        <p>Copyright © 2027</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='/scripts/login.js')}}"></script>
    <script src="{{ url_for('static', filename='/scripts/main.js')}}"></script>
</body>

</html>
