<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Artículo - NPI Arts</title>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles/upload.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui"></script>
</head>

<body>
    <header id="inicio">
        <nav>
            <a href="/"><i class="fas fa-home"></i> Inicio</a>
            
        </nav>
        <h1>NPI Arts</h1>
    </header>

    <article>
        <h2>Crear Artículo</h2>
        <form method="post" id="crear" enctype="multipart/form-data">
            <div class="ui icon input">
                <i class="fas fa-heading icon"></i>
                <input type="text" id="title" name="title" placeholder="Título del artículo" required>
            </div>

            <div class="ui icon input">
                <i class="fas fa-image icon"></i>
                <input type="file" id="image" name="image" accept="image/*">
            </div>

            <div class="ui icon input">
                <i class="fas fa-image icon"></i>
                <p id="message"></p>
            </div>

            <button type="submit"><i class="fas fa-paper-plane"></i> Crear Artículo</button>
        </form>
    </article>
    <footer>
        <nav>
            <a href="" onclick="alert('Contactame esta')">¡Contáctenos!</a>
        </nav>
        <p>Copyright © 2027</p>
    </footer>
    <script src='/static/scripts/upload.js'></script>
    <script src='/static/scripts/login.js'></script>
    <script src="/static/scripts/user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</body>
</html>